body {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 50px;
    font-size: 20px;
    background-color: rgb(34, 34, 34);
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    width: 200px;
}

a {
    color: lightblue;
    transition: color 0.2s, opacity 0.2s;
}

a:hover {
    color: rgb(175, 175, 255);
}

a:active {
    opacity: 0.5;
}

.red-button {
background-color: red;
color: white;
padding: 10px 20px;
border: none;
height: 50px;
width: 200px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

.red-button:hover {
opacity: 0.75;
}

.red-button:active {
opacity: 0.5;
}

.blue-button {
color: blue;
border-color: blue;
background-color: transparent;
border-width: 1px;
height: 50px;
width: 200px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}

.blue-button:hover {
color: white;
background-color: rgb(175, 175, 255);
}

.blue-button:active {
opacity: 0.75;
}

div {
display: flex;
align-items: center;
gap: 20px;

}

